#login-container-full {
    min-height: 100vh;
    min-width: 100vw;
  }
  
  #background-container {
    overflow: hidden;
    background: url("../../../assets/b2.jpg") no-repeat;
    background-size: cover;
  }
  
  .title-container {
    font-family: sans-serif;
    h1 {
      color: white;
      font-size: 62px;
    }
  
    h2 {
      color: white;
    }
  }

  .login-box {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    margin: 10px
  }
  