<div fxLayout="column">
    <app-toolbar></app-toolbar>

    <div fxLayout="row" fxLayoutAlign="center center">
        <div fxLayout="column" fxLayoutAlign="center center" fxFlex="80">
            <h2>Bij welke verkoper wil je een afspraak maken?</h2>
            <div fxLayout="row wrap" fxLayoutAlign="space-around center">
                <mat-card fxFlex.xs="100" class="person-card" fxLayout="column" fxLayoutAlign="space-around center">
                   
                    <button mat-fab color="primary">
                        <mat-icon>account_circle</mat-icon>
                    </button>
                    
                    <h4>Verkoper</h4>
                    <button mat-raised-button color="accent"><a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/stef-nelissen?hide_gdpr_banner=1&background_color=f6b024&text_color=ffffff&primary_color=054a85'});return false;">Afspraak maken</a></button>
                </mat-card>

                <mat-card fxFlex.xs="100" class="person-card" fxLayout="column" fxLayoutAlign="space-around center">
                   
                    <button mat-fab color="primary">
                        <mat-icon>account_circle</mat-icon>
                    </button>
                    
                    <h4>Verkoper</h4>
                    <button mat-raised-button color="accent"><a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/stef-nelissen'});return false;">Afspraak maken</a></button>
                </mat-card>

                <mat-card fxFlex.xs="100" class="person-card" fxLayout="column" fxLayoutAlign="space-around center">
                   
                    <button mat-fab color="primary">
                        <mat-icon>account_circle</mat-icon>
                    </button>
                    
                    <h4>Verkoper</h4>
                    <button mat-raised-button color="accent"><a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/stef-nelissen'});return false;">Afspraak maken</a></button>
                </mat-card>

                <mat-card fxFlex.xs="100" class="person-card" fxLayout="column" fxLayoutAlign="space-around center">
                   
                    <button mat-fab color="primary">
                        <mat-icon>account_circle</mat-icon>
                    </button>
                    
                    <h4>Verkoper</h4>
                    <button mat-raised-button color="accent"><a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/stef-nelissen'});return false;">Afspraak maken</a></button>
                </mat-card>

                <mat-card fxFlex.xs="100" class="person-card" fxLayout="column" fxLayoutAlign="space-around center">
                   
                    <button mat-fab color="primary">
                        <mat-icon>account_circle</mat-icon>
                    </button>
                    
                    <h4>Verkoper</h4>
                    <button mat-raised-button color="accent"><a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/stef-nelissen'});return false;">Afspraak maken</a></button>
                </mat-card>
            </div>
        </div>
    </div>
 
</div>
